template(name="studentProfile")
  ol.breadcrumb
    li
      a(href="{{pathFor 'main' lang=lang}}") {{_'Home'}}
    li
      a(href="{{pathFor 'leaderboard' lang=lang}}") {{_'Leaderboard'}}
    li.active {{trimEmail student.username}}

  h2
    if student.status.online
      +onlineDot
    |{{trimEmail student.username}}
    if isInRole 'teacher' 'all'
      a(href="{{pathFor 'messages' lang=lang username=student.username}}")
        span.glyphicon.glyphicon-envelope

  if showCreateStudyGroupBtn
    +createStudyGroupBtn

  if studyGroups.count
    h2 Study groups
    each studyGroups
      +studyGroupListItem

  .row
    .col-sm-4
      h3 JavaScript lessons
      if student.lessons
        ul.list-unstyled
          each lessons
            li
              if canSeeUserExercises
                a(href="{{pathFor 'lessonJS' lang=lang _id=this.id slug=this.slug username=../student.username}}") {{title}}
              else
                span {{title}}

              if studentLesson
                if studentLesson.success
                  span.glyphicon.glyphicon-ok.green
                else
                  span.glyphicon.glyphicon-remove.red
              ul
                each exercisesArray
                  li
                    if canSeeUserExercises
                      a(href="{{pathFor 'lessonJS' lang=lang _id=../id slug=../slug hash=this.id username=../../student.username}}") {{this.title}}
                    else
                      span {{title}}
                    if studentExercise
                      if getStudentExercise.success
                        span.glyphicon.glyphicon-ok.green
                      else
                        span.glyphicon.glyphicon-remove.red

    .col-sm-4
      h3 HTML lessons
    .col-sm-4
      h3 CSS lessons

  +studyGroupFormModal
