template(name="studentProfile")
  ol.breadcrumb
    li
      a(href="{{pathFor 'main' lang=lang}}") {{_'Home'}}
    li
      a(href="{{pathFor 'leaderboard' lang=lang}}") {{_'Leaderboard'}}
    li.active {{trimEmail student.username}}

  h2
    if student.status.online
      +onlineDot
    |{{trimEmail student.username}}
    sup {{student.points}} pts
    if isCurrentUser
      a.btn.btn-default(href="{{pathFor 'studentProfileEdit'}}") Edit profile
    if isInRole 'teacher' 'all'
      a(href="{{pathFor 'messages' lang=lang username=student.username}}")
        span.glyphicon.glyphicon-envelope
      unless isTeacher
        |&nbsp;
        a.btn.btn-primary.add-teacher-role(href="#") Add teacher role
      else
        if isInRole 'admin' 'all'
          |&nbsp;
          a.btn.btn-primary.remove-teacher-role(href="#") Remove teacher role

  if student.profile
    .row
      if student.profile.about
        .col-sm-4
          h3 About me
          pre.unstyled {{linkify student.profile.about}}
      if student.profile.whyIWantToLearnToCode
        .col-sm-4
          h3 Why I want to learn to code
          pre.unstyled {{student.profile.whyIWantToLearnToCode}}
      if student.profile.githubURL
        .col-sm-4
          h3 My Github
          p
            span.fa.fa-github
            a(href="{{student.profile.githubURL}}") {{student.profile.githubURL}}

  .row
    .col-sm-4
      h3 Study groups
      if showCreateStudyGroupBtn
        +createStudyGroupBtn
      each studyGroups
        +studyGroupListItem
      else
        p You haven't joined any study group.
        p
          a.btn.btn-default(href="{{pathFor 'studyGroups'}}") Check out study groups
    .col-sm-4
      h3 Homework
      if studentHomework.count
        ul.list-unstyled
          each studentHomework
            li
              if canSeeUserExercises
                a(href="{{pathFor 'studyGroupHomework' studyGroupId=studyGroupId homeworkId=homeworkId username=../student.username}}")
                  |{{title}}
              else
                span {{title}}
              if success
                span.glyphicon.glyphicon-ok.green
      else
        p There is no homework for you, yet. Join a
          a(href="{{pathFor 'studyGroups'}}") study group
          |to get a homework.
    .col-sm-4
      h3 Programming Challenges
      if programmingChallenges.count
        ul.list-unstyled
          each programmingChallenges
            li
              if canSeeUserExercises
                a(href="{{pathFor 'lessonProgrammingChallenge' _id=id slug=slug username=../student.username}}")
                  |{{programmingChallengeTitle}}
              else
                span {{programmingChallengeTitle}}
              if success
                span.glyphicon.glyphicon-ok.green
      else
        p Nothing found.

  .row
    .col-sm-4
      h3 JavaScript lessons
      if student.lessons
        ul.list-unstyled
          each lessons
            li
              if canSeeUserExercises
                a(href="{{pathFor 'lessonJS' lang=lang _id=this.id slug=this.slug username=../student.username}}") {{title}}
              else
                span {{title}}

              if studentLesson
                if studentLesson.success
                  span.glyphicon.glyphicon-ok.green
                else
                  span.glyphicon.glyphicon-remove.red
              ul
                each exercisesArray
                  li
                    if canSeeUserExercises
                      a(href="{{pathFor 'lessonJS' lang=lang _id=../id slug=../slug hash=this.id username=../../student.username}}") {{this.title}}
                    else
                      span {{title}}
                    if studentExercise
                      if studentExercise.success
                        span.glyphicon.glyphicon-ok.green
                      else
                        span.glyphicon.glyphicon-remove.red
      else
        p Nothing found.

    .col-sm-4
      h3 HTML lessons
      p Coming soon.
    .col-sm-4
      h3 CSS lessons
      p Coming soon.

  +studyGroupFormModal
  +homeworkFormModal
