template(name="messages")
  h1.no-margin-top
    |{{_'Messages'}} ({{unreadMessagesCount}})
    ||
    a(href="{{pathFor 'notifications'}}") Notifications ({{notificationsCount}})

  .row#messages
    .col-sm-4
      form.message-form
        .form-group
          input.form-control.typeahead(name="username" type="text" placeholder="Type username"
            autocomplete="off" spellcheck="off"
            data-source="searchUsernames")
        .form-group
          textarea.form-control(rows="5" name="message" placeholder="{{_'write a message'}}")
        .checkbox
          label
            input(type="checkbox" name="sendEmail")
            |Send e-mail about new message to receiver
        .form-group
          button.btn.btn-primary.btn-block(type="submit") {{_'Send'}}

      if sendersList.count
        hr
        h4 {{_'Messages from'}}:
      each sendersList
        p
          a(href="{{pathFor 'messages' lang=lang username=this.username}}")
            |{{this.username}}
            if unreadMsgCount
              span.badge(title="Unread messages") {{unreadMsgCount}}
    .col-sm-8
      each messages
        |{{makeRead}}
        p {{formatDate timestamp}}
          if isOnline senderId
            +onlineDot
          a(href="{{pathFor 'studentProfile' lang=lang username=getUsername}}")
            b {{showUsername receiverId}}
          |{{getRole}} {{getIsRead}}:
          br
          pre {{linkify text}}
      else
        p {{_'No messages'}}.