template(name="studyGroupHomework")
  ul.breadcrumb
    each studyGroup.homework
      li(class="{{#if isCurrent}}active{{/if}}")
        a(href="{{pathFor 'studyGroupHomework' studyGroupId=../studyGroup._id homeworkId=this._id username=username}}") {{title}}
  h1 Homework {{homework.title}}
    if studentHomework.success
      span.glyphicon.glyphicon-ok.green
    if isInRole 'teacher' 'all'
      +openHomeworkFormModalBtn(type="edit")
      |&nbsp;
      if studentHomework.success
        button.btn.btn-danger.mark-as-incorrect(type="button") Mark as incorrect
      else
        button.btn.btn-primary.mark-as-correct(type="button") Mark as correct
  if homework.points
    p
      small Correct solution is for {{homework.points}} points.
  if studentHomework
    p
      small Submitted {{formatDate studentHomework.timestamp}}.
        if studentHomework.updatedAt
          |Updated {{formatDate studentHomework.updatedAt}}.
  .row
    .col-sm-3
      h2 Assignment
      pre.unstyled-pre {{{homework.description}}}
      p
        a.btn.btn-default(href="{{pathFor 'studyGroup' lang=lang _id=studyGroup._id}}") &larr; Study group
    .col-sm-5
      h2 HTML editor
      #editor-wrapper
        +sharejsAce(docid=document onRender=editorConfig onConnect=setMode id="html-editor")
        if showSaveAndSubmitButtons
          .row
            .col-sm-6.no-padding-right
              button.btn.btn-default.btn-block.done-btn.no-bottom-right-radius.save-and-run {{_"Save & Run"}}
            .col-sm-6.no-padding-left
              button.btn.btn-primary.btn-block.done-btn.no-bottom-left-radius.submit-to-teacher {{_"Submit to teacher"}}
        else
          button.btn.btn-primary.btn-block.done-btn.run-the-code Run the code
      if studentHomework
        hr
        each studentHomeworkComments
          |{{makeReadComment}}
          p
            a(href="{{pathFor 'studentProfile' lang=lang username=this.username}}") {{this.username}}
            if isOnline this.userId
              +onlineDot
            |{{formatDate timestamp}}
            unless isRead
              |(unread)
            |:
          pre.unstyled {{formatMessage message}}
        else
          p No comments, yet.
        form.comment-form
          .form-group
            textarea.form-control(name="text" placeholder="{{_'Write a comment'}}" rows="5")
          unless isHomeworkUser
            .checkbox
              label
                input(type="checkbox" name="sendEmail")
                |Send e-mail about new message to {{trimEmail username}}
          .form-group
            button.btn.btn-primary(type="submit") {{_'Submit comment'}}
    .col-sm-4
      h2 Result
      #homework-result &larr; Run the code in the editor.


  with homework
    +homeworkFormModal