template(name="studyGroupHomework")
  if isInRole 'teacher' 'all'
    p
      if studyGroup.homeworkIds
        a.btn.btn-primary(href="{{pathFor 'studentHomeworkList' studyGroupId=studyGroup._id}}")
          |Show student homework list
        |&nbsp;
        a.btn.btn-primary(href="{{pathFor 'studyGroupHomeworkSort' studyGroupId=studyGroup._id}}")
          |Sort homework
        |&nbsp;
        a.btn.btn-primary(href="{{pathFor 'homework'}}") Manage homework
        |&nbsp;
      +openHomeworkFormModalBtn
  ul.breadcrumb
    each studyGroup.homework
      li(class="{{#if isCurrent}}active{{/if}}")
        a(href="{{pathFor 'studyGroupHomework' studyGroupId=../studyGroup._id homeworkId=this._id username=username}}") {{title}}
        if isCorrect
          span.glyphicon.glyphicon-ok.green
  h1 Homework {{homework.title}}
    if studentHomework.success
      span.glyphicon.glyphicon-ok.green
    if isInRole 'teacher' 'all'
      +openHomeworkFormModalBtn(type="edit")
      if canMarkAsCorrect
        |&nbsp;
        if studentHomework.success
          button.btn.btn-danger.mark-as-incorrect(type="button") Mark as incorrect
        else
          button.btn.btn-primary.mark-as-correct(type="button") Mark as correct
  p
    small
      a(href="{{pathFor 'studyGroup' _id=studyGroup._id}}") {{studyGroup.title}}
      |{{homework.type}} homework.
      if homework.points
        |Correct solution is for {{homework.points}} points.
  if studentHomework
    p
      small
        if studentHomework.updatedAt
          |Updated {{formatDate studentHomework.updatedAt}}.
        else
          |Saved {{formatDate studentHomework.timestamp}}.
        if studentHomework.submittedAt
          |Submitted {{formatDate studentHomework.submittedAt}}.
  if currentUser
    unless isCurrentUserInGroup
      .alert.alert-danger You have to join
        a(href="{{pathFor 'studyGroup' lang=lang _id=studyGroup._id}}") this group
        |to do this homework.
  if currentUser
    unless equals username currentUser.username
      .alert.alert-warning.alert-dismissable(role="alert") You are in
        a(href="{{pathFor 'studentProfile' username=username}}") {{username}}'s
        |homework.
        button.close(type="button" data-dismiss="alert" aria-label="Close")
          span(aria-hidden="true") &times;
        a(href="{{pathFor 'studyGroupHomework' studyGroupId=studyGroup._id homeworkId=homework._id username=currentUser.username}}")
          |Go to your homework.
    unless routeUsername
      .alert.alert-danger
        span.glyphicon.glyphicon-warning-sign
        |You are in public homework.
        a(href="{{pathFor 'studyGroupHomework' studyGroupId=studyGroup._id homeworkId=homework._id username=currentUser.username}}")
          |Go to your homework.
  else
    .alert.alert-warning
      span.glyphicon.glyphicon-info-sign
      |Please sign in, so you can do the homework.
  .row
    .col-sm-3.assignment
      h2.no-margin-top Assignment
      pre.unstyled-pre {{{homework.description}}}
      h3 Please support CoderMania
      p If you donate, CoderMania and
        a(href="{{pathFor 'webDevelopmentSchool'}}") Web development school
        |will be able to survive more than just a few months.
        |If you learned something valuable, please donate.
      p
        a(href="https://www.youtube.com/watch?v=ssJb2NpYlvQ&index=3&list=PLoy-bs-bDKTgQYc39H9SpxuWUMitdGhtf")
          |Learn more about Web development school and donations.
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top"><input name="cmd" value="_s-xclick" type="hidden"><input name="encrypted" value="-----BEGIN PKCS7-----MIIHLwYJKoZIhvcNAQcEoIIHIDCCBxwCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYCsamE4wOvfNdDMSgHghszfq+96nJLBecaMx1qQgNp5O4M9PewPQdIdxmiIaV7gc1xcXJZdewJmOhFKrvZ8zY/8Sz6NWj0zdlLCtM4rl8fHbemVBD77+8LRJGxmKOhaU+nmo0sKhRBYKNVkgAxTrFJUPAlTI3OXS79WkB8JyNLsWDELMAkGBSsOAwIaBQAwgawGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIRFjeJyC/J6mAgYiRS+t7wkChL8RGbAL/2r5E9ZwIRddA/ljWr5y64Uxp7GeIktCacROBqWA6RfP3vUpjI3dhEvwvRt8720IRBZEu0WnQXHmpbR1JC4om1VUAny/WfCMfXze6hc9o+vei83vXmFyLttbNjfEGr0586qpO9HxEjGLgmrUWnIBcdAAlgoH+vTYy70wdoIIDhzCCA4MwggLsoAMCAQICAQAwDQYJKoZIhvcNAQEFBQAwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMB4XDTA0MDIxMzEwMTMxNVoXDTM1MDIxMzEwMTMxNVowgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDBR07d/ETMS1ycjtkpkvjXZe9k+6CieLuLsPumsJ7QC1odNz3sJiCbs2wC0nLE0uLGaEtXynIgRqIddYCHx88pb5HTXv4SZeuv0Rqq4+axW9PLAAATU8w04qqjaSXgbGLP3NmohqM6bV9kZZwZLR/klDaQGo1u9uDb9lr4Yn+rBQIDAQABo4HuMIHrMB0GA1UdDgQWBBSWn3y7xm8XvVk/UtcKG+wQ1mSUazCBuwYDVR0jBIGzMIGwgBSWn3y7xm8XvVk/UtcKG+wQ1mSUa6GBlKSBkTCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb22CAQAwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQUFAAOBgQCBXzpWmoBa5e9fo6ujionW1hUhPkOBakTr3YCDjbYfvJEiv/2P+IobhOGJr85+XHhN0v4gUkEDI8r2/rNk1m0GA8HKddvTjyGw/XqXa+LSTlDYkqI8OwR8GEYj4efEtcRpRYBxV8KxAW93YDWzFGvruKnnLbDAF6VR5w/cCMn5hzGCAZowggGWAgEBMIGUMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbQIBADAJBgUrDgMCGgUAoF0wGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEHATAcBgkqhkiG9w0BCQUxDxcNMTUwNjExMDYyOTE3WjAjBgkqhkiG9w0BCQQxFgQUKWT4FK0qleL7TtwZqFY/3BMBsFYwDQYJKoZIhvcNAQEBBQAEgYB9sPttpk23G7J4GKgSC0HunyXNqKwwS6Z4X8eU2KPEJW3nd/nSBN4tVHW3vjWmkGIiJkJXtwJhwJE2O8x4Gn0tnne63Wno2JqzwYrrmF7QCzXe79cXQTLcCAnKhMu7mkeCQnnb10PE4/dEr93JdLbsAubK0lLIPIwlbqJhXj18Kw==-----END PKCS7-----" type="hidden"><input src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" name="submit" alt="PayPal - The safer, easier way to pay online!" type="image" border="0"><img alt="" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" height="1" width="1" border="0"></form>
      <p><a class="btn btn-primary" href="https://www.patreon.com/elfoslav">Patreon support</a></p>
      p
        a.btn.btn-default(href="{{pathFor 'studyGroup' lang=lang _id=studyGroup._id}}") &larr; Study group
    #fullscreen-homework
      .col-sm-5.col-editor
        h2.no-margin-top HTML editor
          a.toggle-editor(href="#" title="Click me ;-)")
            span.glyphicon.glyphicon-resize-full
        #editor-wrapper
          +sharejsAce(docid=document onRender=editorConfig onConnect=setMode id="html-editor")
          if showSaveAndSubmitButtons
            .row
              .col-sm-6.no-padding-right
                button.btn.btn-default.btn-block.done-btn.no-bottom-right-radius.save-and-run {{_"Save & Run"}}
              .col-sm-6.no-padding-left
                button.btn.btn-primary.btn-block.done-btn.no-bottom-left-radius.submit-to-teacher {{_"Submit to teacher"}}
          else
            button.btn.btn-primary.btn-block.done-btn.run-the-code Run the code
        unless studentHomework
          if showSaveAndSubmitButtons
            hr
            p If you need help, just save the homework, then the comment form will show up and
              |write a comment what you need help with.
        #homework-comments.chat
          if studentHomework
            hr
            each studentHomeworkComments
              |{{makeReadComment}}
              p
                a(href="{{pathFor 'studentProfile' lang=lang username=this.username}}") {{this.username}}
                if isOnline this.userId
                  +onlineDot
                |{{formatDate timestamp}}
                unless isRead
                  |(unread)
                |:
              pre.unstyled {{escape message}}
            else
              p No comments, yet.
            //comments-textarea cannot be inside form
            .form-group
              #homework-comments-textarea
            form.comment-form
              unless isHomeworkUser
                .checkbox
                  label
                    input(type="checkbox" name="sendEmail")
                    |Send e-mail about new message to {{trimEmail username}}
              .form-group
                button.btn.btn-primary(type="submit") {{_'Submit comment'}}
      .col-sm-4.col-result
        h2.no-margin-top Result
          a.enter-fullscreen-btn(href="#" title="Enter fullscreen")
            span.glyphicon.glyphicon-fullscreen
        #homework-result
          p &larr; Run the code in the editor.

  with homework
    +homeworkFormModal